@import "~mini.css/dist/mini-default.css";

$font-stack:    Helvetica, sans-serif;
$primary-color: #333;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

body {
  font: 100% $font-stack;
  color: $primary-color;
}

.box { 
    @include border-radius(10px);
    outline: 2px dashed blue;
}